.img-thumbnails {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body
{
  padding: 0 25px;
}

.card-footer {
  background-color: white;
  padding: 10px 15px;
  border: none;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }
/* .ngx-gallery .ngx-gallery-image[_ngcontent-ior-c4]{
  background-position:inherit!important
} */