<div class="container mt-4 mb-2">
  <div class="row">
    <div class="col-sm-4">
      <h4>{{ user.knownAs }}'s Profile</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnails"
          [src]="user.photoUrl || '../../../assets/doraemon.png'"
          [alt]="user.knownAs"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user.city }} , {{ user.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p> {{ user.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user.created | date }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group btn-block">
            <button class="btn btn-danger">Like</button>
            <button class="btn btn-success" (click)="selectTabs(3)">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 mb-2">
      <div class="tab-panel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="Description">
            <h4 class="h3">Introduction</h4>
            {{ user.introduction }}
            <h4 class="h3">Looking for</h4>
            {{ user.lookingFor }}
          </tab>
          <tab heading="Interests">
            <h3>Interests</h3>
            {{ user.interests }}
          </tab>
          <tab heading="Photos">
            <ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
              class="ngx-gallery"
            ></ngx-gallery>
          </tab>
          <tab heading="Message">
            <app-member-messages [recipientId]="user.id"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
