<div class="text-center mt-3">
  <h2>Your matches - {{ pagination.totalItems }} found</h2>
</div>

<div class="container mt-3">
  <form class="form-inline mb-3" #form="ngForm" (ngSubmit)="loadUsers()">
    <div class="form-group px-2">
      <label for="">Age From</label>
      <input
        type="number"
        name="minAge"
        style="width: 70px"
        class="form-control ml-1"
        [(ngModel)]="userParams.minAge"
      />
    </div>
    <div class="form-group px-2">
      <label for="">Age To</label>
      <input
        type="number"
        name="maxAge"
        style="width: 70px"
        class="form-control ml-1"
        [(ngModel)]="userParams.maxAge"
      />
    </div>
    <div class="form-group px-2">
      <label for="">Show: </label>
      <select
        name="gender"
        style="width: 140px"
        class="form-control ml-1"
        [(ngModel)]="userParams.gender"
      >
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mx-2">Apply filter</button>
    <button type="button" (click) = "resetFilter()" class="btn btn-info mx-2">Reset filter</button>
    <div class="col">
      <div class="btn-group float-right"  >
        <label class="btn btn-primary" btnRadio="lastActive" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadUsers()">Last Active</label>
        <label class="btn btn-primary" btnRadio="created" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadUsers()">Newest Member</label>
      </div>
    </div>
  </form>
  
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
