.img-thumbnail
{
  height: 100px;
  min-width: 100px!important;
  margin-bottom: 2px;
}

input[type='file']{
  color: transparent;
}

.not-approved{
  opacity: 0.5;
}

.img-wrapper{
  position: relative;
}

.text-img {
  position: absolute;
  bottom: 30%;
}