<nav class="navbar navbar-expand-sm navbar-dark  bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">DatingApp</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']"  >Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>

    </ul>


    <div *ngIf="loggedIn()" class="btn-group" dropdown>
      <span class="mr-2">
        <img [src]="photoUrl" />
      </span>
      <a  dropdownToggle class="text-light dropdown-toggle" aria-controls="dropdown-basic">
        Welcome {{authService.decodedToken.unique_name | titlecase}}
      </a>
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/member/edit']"  > <i class="fa fa-user"></i> Edit User</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>


    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" #username="ngModel" placeholder="Username"
        required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" #password="ngModel" placeholder="Password"
        required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

  </div>
</nav>

<!-- <pre>
  Form valid: {{loginForm.valid}}
  Form touched: {{loginForm.touched}}
  Form dirty: {{loginForm.dirty}}
  Form values: {{loginForm.value | json}}
  Username valid: {{username.valid}}
  Username touched: {{username.touched}}
  Username dirty: {{username.dirty}}
  password value: {{username.value}}
  password valid: {{password.valid}}
  password touched: {{password.touched}}
  password dirty: {{password.dirty}}
  password value: {{password.value}}
</pre> -->
