<div class="container mt-4 mb-2">
  <div class="row">
    <div class="col-sm-4">
      <h3>Your Profile</h3>
    </div>
    <div *ngIf="editForm.dirty" class="col-sm-8">
      <div class="alert alert-info">
        <strong>Information:</strong> You have made change. Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnails" [src]="photoUrl || '../../../assets/doraemon.png'" [alt]="user.knownAs">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user.city}} , {{ user.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user.created | date}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group btn-block">
            <button type="submit" [disabled]="!editForm.dirty" form="editForm" class="btn btn-success">Save change</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 mb-2">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4 class="h3  mt-3">Introduction</h4>
              <textarea class="form-control" name="introduction" [(ngModel)]="user.introduction" rows="7">
                  {{user.introduction}}
              </textarea>
              <h4 class="h3  mt-3">Looking for</h4>
              <textarea class="form-control" name="lookingFor" [(ngModel)]="user.lookingFor" rows="6">
               {{user.lookingFor}}
            </textarea>
              <h4 class="h3  mt-3">Interests</h4>
              <textarea class="form-control" name="interests" [(ngModel)]="user.interests" rows="2">
              {{user.interests}}
            </textarea>
              <h4 class="h3  mt-3">Location Details</h4>
              <div class="form-inline">
                <div class="form-group">
                  <label for="city">City: </label>
                  <input type="text" name="city" class="form-control" [(ngModel)]="user.city" [value]="user.city">
                  <label for="country">Country: </label>
                  <input type="text" name="country" class="form-control" [(ngModel)]="user.country"
                    [value]="user.country">
                </div>
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-edit [photos]="user.photos" ></app-photo-edit>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
